# Игнорировать сгенерированные файлы и папки
__pycache__/
*.pyc
*.log
*.report

# Игнорировать файлы настроек IDE
.idea/
.vscode/
.DS_Store

# Игнорировать виртуальное окружение
venv/
.env

# Игнорировать временные файлы
*~
*.swp